<div class="row">
	<!-- Main Part -->
	<div class="col-md-9">
		<h1><%= (t "impressum.heading.main")%></h1>
		<div class="row-fluid privacy">
			<p class="lead">
				<em>Wichtiger Text</em>
			</p>
		</div><!--/row-fluid-->
		<h2><%= (t "impressum.heading.legalInfo")%></h2>
		<p>
			<ul>
				<li>
					Sitz
				</li>
				<li>
					Vertretungsberechtigter Vorstand
				</li>
				<li>
					Adresse
				</li>
				<li>
					Email
				</li>
			</ul>
		</p>
		<h4><%= (t "impressum.heading.termsOfUse")%></h4>
		<p>

		</p>

		<h2><%= (t "impressum.heading.disclaimer")%></h2>
		<h3>Inhalt des Onlineangebotes</h3>
		<p>
			Der Autor übernimmt keinerlei Gewähr für die Aktualität, Richtigkeit und Vollständigkeit der bereitgestellten Informationen auf unserer Website. Haftungsansprüche gegen den Autor, welche sich auf Schäden materieller oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und unvollständiger Informationen verursacht wurden, sind grundsätzlich ausgeschlossen, sofern seitens des Autors kein nachweislich vorsätzliches oder grob fahrlässiges Verschulden vorliegt.
			<br>
			Alle Angebote sind freibleibend und unverbindlich. Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.
		</p>
		<h3>Verweise und Links</h3>
		<p>
			Bei direkten oder indirekten Verweisen auf fremde Webseiten (“Hyperlinks”), die außerhalb des Verantwortungsbereiches des Autors liegen, würde eine Haftungsverpflichtung ausschließlich in dem Fall in Kraft treten, in dem der Autor von den Inhalten Kenntnis hat und es ihm technisch möglich und zumutbar wäre, die Nutzung im Falle rechtswidriger Inhalte zu verhindern.
			<br>
			Der Autor erklärt hiermit ausdrücklich, dass zum Zeitpunkt der Linksetzung keine illegalen Inhalte auf den zu verlinkenden Seiten erkennbar waren. Auf die aktuelle und zukünftige Gestaltung, die Inhalte oder die Urheberschaft der verlinkten/verknüpften Seiten hat der Autor keinerlei Einfluss. Deshalb distanziert er sich hiermit ausdrücklich von allen Inhalten aller verlinkten /verknüpften Seiten, die nach der Linksetzung verändert wurden. Diese Feststellung gilt für alle innerhalb des eigenen Internetangebotes gesetzten Links und Verweise sowie für Fremdeinträge in vom Autor eingerichteten Gästebüchern, Diskussionsforen, Linkverzeichnissen, Mailinglisten und in allen anderen Formen von Datenbanken, auf deren Inhalt externe Schreibzugriffe möglich sind. Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung solcherart dargebotener Informationen entstehen, haftet allein der Anbieter der Seite, auf welche verwiesen wurde, nicht derjenige, der über Links auf die jeweilige Veröffentlichung lediglich verweist.
		</p>
		<h3>Urheber- und Kennzeichenrecht</h3>
		<p>
			Der Autor ist bestrebt, in allen Publikationen die Urheberrechte der verwendeten Bilder, Grafiken, Tondokumente, Videosequenzen und Texte zu beachten, von ihm selbst erstellte Bilder, Grafiken, Tondokumente, Videosequenzen und Texte zu nutzen oder auf lizenzfreie Grafiken, Tondokumente, Videosequenzen und Texte zurückzugreifen.
			<br>
			Alle innerhalb des Internetangebotes genannten und ggf. durch Dritte geschützten Marken- und Warenzeichen unterliegen uneingeschränkt den Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen Eigentümer. Allein aufgrund der bloßen Nennung ist nicht der Schluss zu ziehen, dass Markenzeichen nicht durch Rechte Dritter geschützt sind!
			<br>
			Das Copyright für veröffentlichte, vom Autor selbst erstellte Objekte bleibt allein beim Autor der Seiten. Eine Vervielfältigung oder Verwendung solcher Grafiken, Tondokumente, Videosequenzen und Texte in anderen elektronischen oder gedruckten Publikationen ist ohne ausdrückliche Zustimmung des Autors nicht gestattet.
		</p>
		<h3>Datenschutz</h3>
		<p>
			Bitte beachten Sie auch unsere <%= link_to "Erklärungen zum Datenschutz", privacyPolicy_path %>
		</p>
		<h3>Rechtswirksamkeit dieses Haftungsausschlusses</h3>

		<p>
			Dieser Haftungsausschluss/Disclaimer ist als Teil des Internetangebotes zu betrachten, von dem aus auf diese Seite verwiesen wurde. Sofern Teile oder einzelne Formulierungen dieses Textes der geltenden Rechtslage nicht, nicht mehr oder nicht vollständig entsprechen sollten, bleiben die übrigen Teile des Dokumentes in ihrem Inhalt und ihrer Gültigkeit davon unberührt.
		</p>
		<p>
			Quelle: <a href="http://www.haftungsausschluss.org/">Disclaimer</a> von <a href="http://www.haftungsausschluss-vorlage.de/haftungsausschluss/">Haftungsausschluss-Vorlage.de</a> und <a href="http://www.datenschutzgesetz.de/">Datenschutzgesetz.de</a>
		</p>
	</div>
	<!-- Sidebar -->
	<div class="col-md-3">

		<!--=== Team v1 ===-->
		<div class="team-v1">
			<ul class="list-unstyled row">
				<li class="col-xs-12 md-margin-bottom-30">
					<div class="team-img">
						<img class="img-responsive" src="http://lorempixel.com/400/300/people" alt="">
						<ul>
							<li>
								<a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a>
							</li>
							<li>
								<a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a>
							</li>
							<li>
								<a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a>
							</li>
						</ul>
					</div>
					<h3>Barbara Benighaus</h3>
					<h4>/ 1. Vorsitzende</h4>
					<p>
						Barbara ist die gute Fee bei uns. Sie weiß über alles Bescheid, hilft und organisiert wo sie nur kann. Wenn sie nicht gerade dabei ist die Welt zu retten, ist sie immer gut zu erreichen und erster Ansprechpartner für alle.
					</p>
				</li>
				<li class="col-xs-12 md-margin-bottom-30">
					<div class="team-img">
						<img class="img-responsive" src="http://lorempixel.com/400/300/people" alt="">
						<ul>
							<li>
								<a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a>
							</li>
							<li>
								<a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a>
							</li>
							<li>
								<a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a>
							</li>
						</ul>
					</div>
					<h3>Marianne Gerhard</h3>
					<h4>/ 2. Vorsitzende</h4>
					<p>
						Zwei gute Feen sind besser als eine. Und auch gute Feen brauchen mal Pause. Deswegen steht Marianne an der Seite von Barbara und unterstützt, wo sie nur kann.
					</p>
				</li>
				<li class="col-xs-12">
					<div class="team-img">
						<img class="img-responsive" src="http://lorempixel.com/400/300/people" alt="">
						<ul>
							<li>
								<a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a>
							</li>
							<li>
								<a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a>
							</li>
							<li>
								<a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a>
							</li>
						</ul>
					</div>
					<h3>Sandra Mallepree</h3>
					<h4>/ Redakteurin</h4>
					<p>
						Sorgt dafür, dass immer wieder neue, sensationelle Beiträge auf der Webseite erscheinen. Will man ihr eine Freude machen, erzählt man ihr eine tolle neue Story für die Webseite oder schickt ihr schöne Bilder.
					</p>
				</li>
				<li class="col-xs-12">
					<div class="team-img">
						<img class="img-responsive" src="http://lorempixel.com/400/300/people" alt="">
						<ul>
							<li>
								<a href="https://pinterest.com/michaellandreh"><i class="icon-custom icon-sm rounded-x fa fa-pinterest"></i></a>
							</li>
							<li>
								<a href="https://www.facebook.com/michael.landreh"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a>
							</li>
							<li>
								<a href="https://plus.google.com/+MichaelLandreh"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a>
							</li>
						</ul>
					</div>
					<h3>Michael Landreh</h3>
					<h4>/ Webentwicklung</h4>
					<p>
						Hilft bei allen technischen Fragen und Problemen, welche die Webseite betreffen, weiter. Der ITler freut sich über Anregungen, Lob und Kritik. Und obwohl er manchmal unverständliches Zeug redet, ist er im Grunde ganz nett.
					</p>
				</li>
			</ul>
		</div>
		<!--=== End Team v1 ===-->
	</div>
</div>

