<h1>Konzerte</h1>

<% @concerts.each do |concert| %>

<div class="row tag-box tag-box-v3">
	<div class="col-sm-12">
		<div class="row">
			<div class="col-md-10 col-sm-12">
				<h2><%= concert.title %></h2>
				<h3><%= concert.subTitle %></h3>
			</div>
			<div class="col-md-2 col-sm-12">
				<%= concert.eventDate %><br/>
				<%= concert.eventTime %><br/>
				<%= concert.eventDateTitle %>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-12">
		<%= concert.text %>
	</div>
	<div class="col-md-6 col-sm-12">
		Keine Mitwirkenden genannt
	</div>
	<div class="col-sm-12">
		<%= concert.location %>, <%= concert.category %>, <%= concert.published %>
	</div>
</div>
<%= link_to 'Show', concert_path(concert) %>
<% end %>