<p>
  <strong>Title:</strong>
  <%= @concert.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @concert.text %>
</p>

      <p><strong>Subtitel:</strong><%= @concert.subTitle %></p>
      <p><strong>Location</strong><%= @concert.location %></p>
      <p><strong>Category</strong><%= @concert.category %></p>
      <p><strong>Published?</strong><%= @concert.published %></p>
      <p><strong>Datum</strong><%= @concert.eventDate %></p>
      <p><strong>Zeit</strong><%= @concert.eventTime %></p>
      <p><strong>Zusatztitel für das EventDatum (z.B. "3.Advent")</strong><%= @concert.eventDateTitle %></p>