<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <title>Annenchor</title>
    <%= csrf_meta_tags %>

    
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Web Fonts -->
    <link rel="shortcut" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=cyrillic,latin">

    <!-- CSS Global Compulsory -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- CSS Theme -->
    <link rel="stylesheet" href="assets/css/theme-colors/default.css">

  </head>

  <body>
  	<div class="wrapper">
  		<
    	<%= yield %>
    	<%= render :partial => 'layouts/footer' %>

    </div>
  </body>
</html>
